<!DOCTYPE HTML>
<html ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Neighbourhood</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="app.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .body-background {
                background-color:lightblue;
            }
            .bg-image {
                background-image: url("../static/img/background-photo.jpg");

                /* Full height */
                height: 100%;

                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size:inherit;
            }
        </style>
        <script>
                var callApproveRequest = function(userid) {
                    $.ajax({
                        url: '/neighbors/approve_block_request',
                        type: 'GET',
                        data: {userid : userid},
                        success: function(response){
                            var message = response.message;
                            alert("Action successful");
                        },
                        error : function(response){
                            var message = response.message;
                            alert("Error");
                        }
                    });
                };
        </script>
    </head>
    <body class="bg-image">
            <div class="wrapper">
                    <header class="main-header">
                        <nav class="navbar navbar-inverse">
                            <div class="container">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="/">knowYourNeighborhood</a>
                                </div>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
                                            <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Page 1-1</a></li>
                                                <li><a href="#">Page 1-2</a></li>
                                                <li><a href="#">Page 1-3</a></li>
                                            </ul>
                                    </li>
                                    <li><a href="/show-profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                                    <li><button id="logoutBtn" class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-log-out"></span> Logout</button></li>
                                </ul>
                            </div>
                        </nav>
                    </header>
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"></div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="background-color: rgba(255, 255, 255, 0.8);">
                                    <h2 class="text-center">Approval Requests</h2>
                                    {% for info in details %}
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="media-heading text-capitalize">{{ info.lastname }} {{info.firstname}}</h4>
                                        <small><p class="text-info">{{ info.user_details.user_bio }}</p></small>
                                        <input id="input1" type="text" value="{{info.user_details.userid}}" hidden/>
                                            {% if info.addFriend == true %}
                                            <div class="btn-group">
                                                <a onclick="callAddFriend()" class="btn btn-success">Add friend</a>
                                            </div>
                                            {% endif %}
                                            {% if info.addNeighbor == true %}
                                            <div class="btn-group">
                                                <a onclick="callAddNeighbor()" class="btn btn-danger">Add Neighbour</a>
                                            </div>
                                            {% else %}
                                            <div></div>
                                            {% endif %}
                                    </div>
                                </div>
					            {% else %}
					            <em>Unbelievable.  No friends here so far</em>
					            {% endfor %}
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"></div>
                            </div>
                        </div>
                    </div>
            </div>
    </body>
</html>