<!DOCTYPE HTML>
<html ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Neighbourhood</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="app.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .body-background {
                background-color:lightblue;
            }
            .bg-image {
                background-image: url("../static/img/background-photo.jpg");

                /* Full height */
                height: 100%;

                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size:inherit;
            }
        </style>
        <script type="text/javascript">
            var callAddFriend = function(action,userid) {
                $.ajax({
                    url: '/friends/accept_friend_request',
                    type: 'GET',
                    data: {userid : userid, action:action},
                    success: function(response){
                        var message = response.message;
                        alert("Friend request accepted");
                    },
                    error : function(response){
                        var message = response.message;
                        alert("Error");
                    }
                });
            }
        </script>
    </head>
    <body class="bg-image">
            <div class="wrapper">
                    <header class="main-header">
                        <nav class="navbar navbar-inverse">
                            <div class="container">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="/">knowYourNeighborhood</a>
                                </div>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                                    <li><a href="/logout"><button id="logoutbtn" class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-log-out"></span> Logout</button></li>
                                </ul>
                            </div>
                        </nav>
                    </header>
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"></div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="background-color: rgba(255, 255, 255, 0.8);">
                                    <h2 class="text-center">Friend Requests</h2>
                                    {% for friend in friendDetails %}
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="media-heading">{{friend.firstname}} {{friend.lastname}}</h4>
                                            <div class="btn-group btn-group-lg">
                                                <a onclick="callAddFriend('approve',{{friend.userid}})" class="btn btn-success">Approve</a>
                                            </div>
                                            <div class="btn-group btn-group-lg">
                                                <a onclick="callAddFriend('decline',{{friend.userid}})" class="btn btn-danger">Decline</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"></div>
                            </div>
                        </div>
                    </div>
            </div>
    </body>
</html>
