<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to Neighbourhood</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

        <script src="//cdn.jsdelivr.net/alertifyjs/1.10.0/alertify.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/alertify.min.css" />
        <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/themes/bootstrap.min.css" />

        <style>
        .body-background {
                background-color:lightblue;
            }
             .img-class{
                background-image: url("../static/img/background-photo.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-size: 100% 280%;
                /* height: 900px; */
                overflow: auto;
                position: relative;
            }
        </style>
        <script type="text/javascript">
            var getBlockValues = function() {
                var selectedHoodid = document.getElementById('myHood').value;
                var option = '';
                document.getElementById('myBlock').innerHTML = '';
                $.ajax({
                    url: '/block_details_for_hood',
                    type: 'GET',
                    data: {selectedHoodid : selectedHoodid},
                    success: function(response){
                        var blocklist = response.blockList;
                        for (i=0;i<blocklist.length;i++){
                            option += '<option value="'+ blocklist[i].blockid + '">' + blocklist[i].blockname + '</option>';
                        }
                        $('#myBlock').append(option);
                    }
                 });
            }
        </script>
    </head>
    <body class="body-background">
          <div class="wrapper">
            <header class="main-header">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">knowYourNeighborhood</a>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="content-wrapper">
        <!-- <div class="img-class"> -->
                <div class="container">
                    <div class="row" style="margin-top:20%;">
                        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2"></div>
                        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8" style="background-color: rgba(255, 255, 255, 0.8);">
                            <form action="/neighbors/send_block_request" method="POST">
                                <h1 class="text-center">Join a Block</h1>
                                </br>
                                </br>
                                <div class="form-group">
                                    <label> Select Hood </label>
                                    <select id = "myHood" onchange="getBlockValues()">
                                        <option value="" selected></option>
                                        {% for hood in hoodinfo %}
                                        <option value="{{hood.neighborhoodid}}">{{hood.neighborhoodname}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label> Select Block </label>
                                    <select id = "myBlock" name = "baname">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Submit" class="btn btn-success btn-lg btn-block sign_up"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2"></div>
                    </div>
                </div>
            </div>
          </div>
    </body>
    {% if message %}
    <script>
    alertify.{{message.type}}("{{ message.message }}");
    </script>
    {% endif %}
</html>