<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to Neighbourhood</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

        <script src="//cdn.jsdelivr.net/alertifyjs/1.10.0/alertify.min.js"></script>

        <style>
             .img-class{
                background-image: url("https://images.unsplash.com/photo-1534430480872-3498386e7856?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-size: 100% 280%;
                /* height: 900px; */
                overflow: auto;
                position: relative;
            }
        </style>
        <script src="loginController.js"></script>
    </head>
    <body class="img-class">
            <div class="wrapper">
                <header class="main-header">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container">
                        <a class="navbar-brand" href="#">knowYourNeighborhood</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                             <li class="nav-item active"><button id="logoutBtn" class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-log-out"></span>Logout</button></li>
                            </ul>
                            </div>
                        </div>
                    </nav>-->
                </header>
                <div class="content-wrapper">
                    <div class="container ">
                        <div class="row mt-5 pt-5">
                            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2"></div>
                            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8" style="background-color: rgba(255, 255, 255, 0.8);">
                                <form id="loginForm" method="POST" action="" target="_blank">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />                                    <h1 class="text-center">Log In</h1>
                                    <div class="form-group">
                                        <label class="control-label" for="email">Username</label>
                                        <input type="text" name="Username" class="form-control" required/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="pwd">Password</label>
                                        <input type="password" name="password" class="form-control" minlength="8" required/>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-lg btn-block sign_up">Log In</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if message %}
        <script>
        alertify.{{message.type}}("{{ message.message }}");
        </script>
        {% endif %}
    </body>
</html>