<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Neighbourhood</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .body-background {
                background-color:lightblue;
            }
            .bg-image {
                background-image: url("../static/img/background-photo.jpg");

                /* Full height */
                height: auto;

                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
        </style>
        
    </head>
    <body class="body-background">
            <div class="wrapper">
                <header class="main-header">
                    <nav class="navbar navbar-inverse">
                        <div class="container">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="/">knowYourNeighborhood</a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Feed
                                            <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/block-feed">Block Feed</a></li>
                                            <li><a href="/hood-feed">Hood Feed</a></li>
                                            <li><a href="/friend-feed">Friend Feed</a></li>
                                            <li><a href="/neighbor-feed">Neighbor Feed</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Map View
                                            <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/map-view-threads">Threads</a></li>
                                            <li><a href="/map-view-friends">Friends</a></li>
                                            <li><a href="/map-view-neighbors">Neighbors</a></li>
                                        </ul>
                                    </li>
                                <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                                <li><a href="/logout" id="logoutBtn" class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
                <div class="content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"></div>
                            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
                                <form action="/search/thread" method="POST">
                                    <div class="input-group">
                                        <input type="text" name="searchKey" class="form-control" placeholder="Search in messages"/>
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
    </body>
</html>