<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Neighbourhood</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .img-class{
                background-image: url("../static/img/background-photo.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-size: 100% 100%;
                
                overflow: auto;
                position: relative;
            }
            * {
                box-sizing: border-box;
            }

            input[type=text], input[type=password], input[type=email]{
                background:rgba(156, 140, 140, 0.9);
            }
            
            .sign_up {
                opacity: 0.5;
            }
            .sign_up:hover {
                opacity : 1.0;
            }
        </style>
    </head>
    <body class="img-class">
        <!-- <div class="img-class"> -->
                    <div class="wrapper">
                    <header class="main-header">
                        <nav class="navbar navbar-inverse">
                            <div class="container">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="/">knowYourNeighborhood</a>
                                </div>
                                <ul class="nav navbar-nav navbar-right">
                                     <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                                    <li><a href="/logout"><button id="logoutBtn" class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-log-out"></span> Logout</button></a></li>
                                </ul>
                            </div>
                        </nav>
                    </header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2"></div>
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8" style="background-color: rgba(255, 255, 255, 0.8);">
                    <form action="/updateProfilePage" class="form-horizontal">
                        <h1 class="text-center">Your Profile</h1>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="fname"><b>First Name</b></label>
                            <div class="form-control-static col-sm-8">
                                <label>{{ profileInfo[0].Fname }}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="lname"><b>Last Name</b></label>
                            <div class="form-control-static col-sm-8">
                                <label>{{ profileInfo[0].Lname }}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email"><b>Email Address</b></label>
                            <div class="form-control-static col-sm-8">
                                <label>{{ profileInfo[0].email }}</label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="password"><b>Password</b></label>
                            <div class="form-control-static col-sm-8">
                                <button><a href="/changePasswordPage">Change Password</a></button>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="gender"><b>Gender</b></label><br/>
                            <div class="form-control-static col-sm-8">
                                <label>{{ profileInfo[0].gender }}</label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="addressLine1"><b>Street Address</b></label>
                            <div class="form-control-static col-sm-8">
                                <label>{{ profileInfo[0].street }}</label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="addressLine2"><b>Address Line 2</b></label>
                            <div class="form-control-static col-sm-8">
                                <label>{{ profileInfo[0].apt }}</label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="blockID"><b> Block Name </b></label>
                            <div class="form-control-static col-sm-4">
                                <label>{{ profileInfo[0].block_name }}</label>
                            </div>
                            <div class="form-control-static col-sm-4">
                                <button><a href="/neighborhood_details">Change Block</a></button>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="city"><b>City</b></label>
                            <div class="form-control-static col-sm-8">
                                <label>{{ profileInfo[0].city }}</label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="state"><b>State</b></label>
                            <div class="form-control-static col-sm-8">
                                <label>{{ profileInfo[0].state }}</label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="zipcode"><b>Zip</b></label>
                            <div class="form-control-static col-sm-8">
                                <label>{{ profileInfo[0].zip }}</label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email_pref"><b>Notifications on email</b></label><br/>
                            <div class="form-control-static col-sm-8">
                                <label>{{ profileInfo[0].email_preference }}</label>
                            </div>

                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg btn-block sign_up"> Update Profile</button>
                        </div>
                        <!-- <input class="sign_up" type="submit" value="Sign Up"/> -->
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2"></div>
        </div>
    </div>
    </body>
</html>