<!DOCTYPE html>
<html lang = "en">
 	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>message board</title>
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
		<link href="http://twitter.github.com/bootstrap/assets/css/docs.css" rel="stylesheet">
	</head>
  <body>
	<div class="page-header">
	<h1 align="center" ><font color="#009900">message board</font></h1>
	</div>
     <div class="container-fluid">
         <div class="row-fluid">
              <div class="span3">
                   <div class="well sidebar-nav">
                       <ul class="nav nav-list">
                            <li class="nav-header">Sections</li>
                            <li><a href="http://www.baidu.com/">help</a></li>
                       </ul>
                   </div>
              </div>
              <div class="span6">
                   <div class="hero-unit">
					<div class= "metanav" >
                  </div>
                  <div class="row-fluid">
					<ul>
					{% for info in allInfo %}
					<li><h2><font color="#0000A3">{{ info.CreatedBy }}</font></h2><p class="text-success">success：{{ info.Title }}</p><p class="text-info">{{ info.Description_Msg }}</p><p class="text-success">success：{{ info.CreatedAt }}</p>
					{% else %}
					<li><em>Unbelievable.  No messages here so far</em>
					{% endfor %}
					</ul>
                </div>
              </div>
         </div>
     </div>
  </body>
</html>
