<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Neighbourhood</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .body-background {
                background-color:lightblue;
            }
            .bg-image {
                background-image: url("../static/img/background-photo.jpg");

                /* Full height */
                height: 100vh;

                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
        <script type="text/javascript">
            var callAddFriend = function(userid) {
                alert(userid);
                $.ajax({
                    url: '/send_friend_request',
                    type: 'GET',
                    data: {userid : userid},
                    success: function(response){
                        var message = response.message;
                        alert("Friend request sent");
                    },
                    error : function(response){
                        var message = response.message;
                        alert("Error ");
                    }
                });
            }
            var callAddNeighbor = function(userid) {
                alert(userid);
                $.ajax({
                    url: '/add_neighbors',
                    type: 'GET',
                    data: {userid : userid},
                    success: function(response){
                        var message = response.message;
                        alert(message);
                    },
                    error : function(response){
                        var message = response.message;
                        alert(message);
                    }
                });
            }
        </script>
	</head>
  <body class="bg-image">
            <div class="wrapper">
                <header class="main-header">
                    <nav class="navbar navbar-inverse">
                        <div class="container">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="/">knowYourNeighborhood</a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                                <li><a href="/logout" id="logoutBtn" class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
                <div class="content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"></div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="background-color: rgba(255, 255, 255, 0.8);">
                                <h2 class="text-center">Search Results</h2>
					            {% for info in people %}
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="media-heading text-capitalize">{{ info.user_details.firstname }} {{info.user_details.lastname}}</h4>
                                        <small><p class="text-info">{{ info.user_details.user_bio }}</p></small>
                                            {% if info.addFriend == true %}
                                            <div class="btn-group">
                                                <a onclick="callAddFriend(info.user_details.userid)" class="btn btn-success">Add friend</a>
                                            </div>
                                            {% endif %}
                                            {% if info.addNeighbor == true %}
                                            <div class="btn-group">
                                                <a onclick="callAddNeighbor(info.user_details.userid)" class="btn btn-danger">Add Neighbour</a>
                                            </div>
                                            {% else %}
                                            <div></div>
                                            {% endif %}
                                    </div>
                                </div>
					            {% else %}
					            <em>Unbelievable.  No friends here so far</em>
					            {% endfor %}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"></div>
                        </div>
                    </div>
                </div>
                </div>
  </body>
</html>
