<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to Neighbourhood</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

        <script src="//cdn.jsdelivr.net/alertifyjs/1.10.0/alertify.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/alertify.min.css" />
        <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/themes/bootstrap.min.css" />

        <style>
             .img-class{
                background-image: url("https://images.unsplash.com/photo-1534430480872-3498386e7856?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-size: 100% 280%;
                /* height: 900px; */
                overflow: auto;
                position: relative;
            }
        </style>
        <script src="loginController.js"></script>
    </head>
    <body class="img-class">
        <header class="main-header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                    <a class="navbar-brand" href="/">knowYourNeighborhood</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    </div>
                </nav>
        </header>
        <div class="container">
            <h1 class=" mt-4 mb-4">Sign Up</h1> 
            <div class="card">
                <div class="card-body">
                <form id="signUpForm" action="" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />  
                        <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label" for="fname"><b>First Name</b></label>
                                <input type="text" name="fname" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="lname"><b>Last Name</b></label>
                                <input type="text" name="lname" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="email"><b>Email Address</b></label>
                                <input type="email" name="email" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="username"><b>Username</b></label>
                                <input type="text" name="username" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password"><b>Password</b></label>
                                <input type="password" name="password" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="confirm_password"><b>Confirm Password</b></label>
                                <input type="password" name="confirm_password" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="gender"><b>Gender</b></label><br/>
                                <input type="radio" class="radio-first" name="gender" value="male"> Male<br/>
                                <input type="radio" class="radio-last" name="gender" value="female"> Female<br/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="addressLine1"><b>Street Address</b></label>
                                <input type="text" name="addressLine1" class="form-control" required/>
                            </div>
                           
                        <!-- <input class="sign_up" type="submit" value="Sign Up"/> -->
                        </div>
                        <div class="col-6">
                             
                            <div class="form-group">
                                <label class="control-label" for="addressLine2"><b>Address Line 2</b></label>
                                <input type="text" name="addressLine2" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="city"><b>City</b></label>
                                <input type="text" name="city" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="state"><b>State</b></label>
                                <input type="text" name="state" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="zipcode"><b>Zip</b></label>
                                <input type="text" name="xipcode" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="email_pref"><b>Do you want notifications on email?</b></label><br/>
                                <input type="radio" class="radio-first" name="email_pref" value="yes"> Yes<br/>
                                <input type="radio" class="radio-last" name="email_pref" value="no"> No<br/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Select Profile Picture</label>
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"/>
                                            <label id="labelImageUpload" for="imageUpload"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview" style="background-image: url(../static/img/user_icon.png);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" method = "POST">
                                <button type="submit" class="btn btn-success btn-lg btn-block sign_up">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>    
    <script>
        function signup() {
            alert("Submitted")
        }
    </script>
    {% if message %}
    <script>
    alertify.{{message.type}}("{{ message.message }}");
    </script>
    {% endif %}
    </body>
</html>